# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
*.vcxproj.filters
*.user

#IDE files
*.idea
*.vs
*.sln

CMakeCache.txt
Makefile
bin/
build/
CMakeFiles/
Debug/
cmake_install.cmake
CTestTestfile.cmake
compile_comands.json

*.ipch
